absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aiosmtplib==3.0.2
aiosqlite==0.19.0
alembic==1.13.1
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.2.0
asyncpg==0.29.0
attrs==25.3.0
Authlib==1.4.0
babel==2.18.0
bcrypt==4.0.1
beautifulsoup4==4.13.5
bleach==6.2.0
blinker==1.9.0
blis==1.3.3
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.8.3
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.7
click==8.3.1
cloudpathlib==0.23.0
cmdstanpy==1.3.0
colorama==0.4.6
comm==0.2.3
confection==0.1.5
contourpy==1.3.3
cryptography==46.0.7
cssselect==1.3.0
cssutils==2.11.1
cycler==0.12.1
cymem==2.0.13
dataframe_image==0.2.7
datasets==4.5.0
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dill==0.4.0
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
et_xmlfile==2.0.0
executing==2.2.0
fastapi==0.110.0
fastjsonschema==2.21.2
filelock==3.24.3
Flask==3.1.2
flatbuffers==25.12.19
fonttools==4.59.2
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.10.0
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.28.0
google-pasta==0.2.0
greenlet==3.2.4
grpcio==1.78.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.2.0
holidays==0.91
httpcore==1.0.9
httptools==0.7.1
httpx==0.25.2
huggingface_hub==1.4.1
idna==3.10
imbalanced-learn==0.14.1
importlib_resources==6.5.2
ipykernel==7.2.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kagglehub==1.0.0
kagglesdk==0.1.15
keras==3.13.2
kiwisolver==1.4.9
lark==1.3.1
libclang==18.1.1
limits==5.8.0
lxml==5.4.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
ml_dtypes==0.5.4
more-itertools==10.7.0
multidict==6.6.4
multiprocess==0.70.18
murmurhash==1.0.15
namex==0.1.0
narwhals==2.15.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.3
notebook==7.5.4
notebook_shim==0.2.4
numpy==1.26.4
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.19.0
packaging==25.0
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.5
passlib==1.7.4
patsy==1.0.1
pillow==11.3.0
platformdirs==4.4.0
playwright==1.54.0
playwright-stealth==1.0.6
plotly==6.5.2
preshed==3.0.12
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.3.2
prophet==1.3.0
protobuf==6.33.4
psutil==6.1.1
psycopg2-binary==2.9.10
pure_eval==0.2.3
py4j==0.10.9.9
pyarrow==23.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.6.0
pydantic-settings==2.1.0
pydantic_core==2.16.1
pydeck==0.9.1
pyee==13.0.0
Pygments==2.19.2
pyparsing==3.2.3
pyspark==4.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-jose==3.3.0
python-json-logger==4.0.0
python-multipart==0.0.9
pytz==2025.2
pywin32==311
pywinpty==3.0.3
PyYAML==6.0.3
pyzmq==27.0.2
redis==5.2.1
referencing==0.36.2
regex==2026.2.19
reportlab==4.1.0
requests==2.32.5
researchpy==0.3.7
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.3
rpds-py==0.27.1
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.16.1
seaborn==0.13.2
Send2Trash==2.1.0
setuptools==82.0.0
shellingham==1.5.4
six==1.17.0
sklearn-compat==0.1.5
slowapi==0.1.9
smart_open==7.5.1
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.25
srsly==2.5.2
stack-data==0.6.3
stanio==0.5.1
starlette==0.36.3
statsmodels==0.14.5
streamlit==1.53.1
stripe==7.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorflow==2.21.0
termcolor==3.3.0
terminado==0.18.1
thinc==8.3.10
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
tornado==6.5.2
tqdm==4.67.3
traitlets==5.14.3
typer==0.24.0
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.6.3
uvicorn==0.27.0
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.13
weasel==0.4.3
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.5
wheel==0.46.3
widgetsnbextension==4.0.15
wrapt==2.1.1
xgboost==3.1.2
xxhash==3.6.0
yarl==1.20.1
